<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" position="start">
    <p><button mat-button routerLink="/alumni">Alumni</button>
    <button mat-button routerLink="/team">Team</button>
    <button mat-button routerLink="/contact">Contact</button></p>
  </mat-sidenav>
  <mat-sidenav-content >
    <p>
      <button  mat-button  routerLink="/" matTooltip="Home"
      aria-label="Button that displays a tooltip when focused or hovered over" style="cursor: pointer;">SAE - AKGEC</button>
      <button mat-raised-button
      matTooltip="Menu"
      aria-label="Button that displays a tooltip when focused or hovered over" (click)="sidenav.open()"><mat-icon>drag_handle</mat-icon></button>
      <button  matTooltip="My Account"
      aria-label="Button that displays a tooltip when focused or hovered over"  mat-button [matMenuTriggerFor]="aboveMenu">
        <mat-icon>person_pin</mat-icon>
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Login</button>
        <button mat-menu-item>SignUp</button>
      </mat-menu>
    
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
