<div class="container" >
  <mat-horizontal-stepper linear #stepper >
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup" class="example-form">
          <div fxFlex.layout="row"><div fxFlex="40" fxFlex.sm="100" fxFlex.xs="100" >
        <ng-template matStepLabel>Details</ng-template>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="user_name"
            placeholder="User name" 
            required
          />
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="first_name"
            placeholder="First name"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field
          ><br />
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="last_name"
            placeholder="Last name"
            required
          /> </mat-form-field
        ><br />

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="abc@gmail.com"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
        </div>
        <div fxFlex="50" fxFlex.sm="0" fxFlex.xs="0">
            <img src="../../../../assets/23.jpg" class="form-image">
            <mat-label class="form-image">Image : Autocross Event </mat-label>
        </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.Press button to submit details</p>
      <div>
        <button mat-raised-button (click)="submit()">Submit </button>
        <button mat-raised-button routerLink="/">Home</button>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper> 
</div>
