<mat-tab-group mat-align-tabs="center" style="background-color: black;">
        <mat-tab label="First">
                <div
                  class="container"
                  fxLayout="row"
                  fxLayout.sm="column"
                  fxLayout.xs="column"
                  fxLayoutAlign.gt-md="space-around center"
                  fxLayoutGap="10px"
                  fxLayoutGap.xs="0"
                >
      <div fxFlex="40" style="color: white">
          <h1>Aacar</h1>
        <p >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non at
          architecto id magnam et quas ut ipsam dolores eos amet rem, temporibus
          magni necessitatibus expedita sunt hic quae natus culpa. Aperiam quas
          ratione minima hic nesciunt numquam nostrum cupiditate fugit
          laboriosam illo distinctio architecto alias aut, consequatur sed
          cumque voluptas? Accusamus error veritatis nam fugiat fugit adipisci
          voluptates? Pariatur, possimus! Beatae dolorem doloremque odio et
          voluptates impedit eveniet quidem perspiciatis temporibus. Laudantium
          nemo vero qui, perferendis alias asperiores voluptate aliquam
          cupiditate in atque quis, veritatis ipsum, vel quod eligendi iusto.
          Adipisci nostrum culpa, ad architecto inventore corrupti, dignissimos
          harum excepturi accusantium illo mollitia ullam, facilis voluptate
          ipsa! Natus, voluptate, dicta neque tempore obcaecati iste, iure fuga
          libero cupiditate recusandae sit? Enim ullam inventore dolor iure
          consequatur nulla quos amet dolores iusto optio, unde incidunt magnam
          eius aperiam, iste aliquam aut deserunt? In voluptatem corporis
          reiciendis culpa perferendis voluptatibus numquam exercitationem!
          Delectus obcaecati inventore deleniti laudantium iusto est debitis
          atque neque culpa? Velit dolorum nostrum at corporis ut magni itaque
          reprehenderit vel, perferendis ratione hic repellendus, autem cum
          deserunt? Nostrum, nisi.olestiae deserunt sed quia, asperiores illum.
        </p>
      </div>
      <div style="color: white;" fxFlex="40">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, sequi
          quidem quaerat accusantium autem quia nostrum beatae inventore,
          officiis illum molestiae placeat odit excepturi ad sunt qui numquam
          nesciunt eius? Facere quibusdam numquam fugit aperiam officia? Tempora
          facere, ut corrupti ea laboriosam nihil commodi ex vel aliquam minus?
          Libero expedita tempore excepturi ex accusantium eos doloribus
          voluptatibus incidunt sapiente. Ex. Sed facere voluptatem optio fuga,
          quibusdam maiores nulla earum, harum accusantium atque animi inventore
          sunt pariatur consequatur aspernatur soluta quod repellat ipsam et
          dolorum impedit rerum. Molestiae qui aut dicta. Iste quidem reiciendis
          soluta dolorem iure recusandae cumque quia odio qui dolorum laudantium
          quod consequuntur repellendus numquam aut harum, laboriosam officiis
          molestias facere aliquid, quos temporibus. Quis sunt sequi qui?
          Consectetur iste quaerat, mollitia animi alias eveniet magni
          recusandae ut libero et, vitae odio. Harum temporibus ipsam quis eius
          veritatis dignissimos ducimus aliquam laborum libero placeat. Minima
          saepe corporis quas. Quidem, dolorem consequuntur odit ea id labore
          nam perferendis pariatur modi, alias corporis itaque aliquid explicabo
          eveniet quisquam placeat, ratione omnis dignissimos repellendus
          voluptatibus? Architecto velit incidunt in eum autem. Expedita dolor
          saepe quia ducimus, temporibus perferendis neque, dignissimos illo
          minima officia ipsam? Atque accusantium adipisci recusandae
          voluptatibus odit, voluptatum quis, ab dolorem praesentium et incidunt
          ducimus? Delectus, aliquid fugiat. Consequuntur ex nemo eaque labore
          saepe eligendi placeat ipsam quisquam optio officiis non voluptatibus
          accusamus, autem, voluptat
        </p>
      </div>
    </div>
    </mat-tab>
    <mat-tab label="Second">
            <div
            class="container"
            fxLayout="row"
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutAlign.gt-md="space-around center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0"
          >
            <div fxFlex="40">
              <h1>Innovacion</h1>
              <p style="color: white;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non at
                architecto id magnam et quas ut ipsam dolores eos amet rem, temporibus
                magni necessitatibus expedita sunt hic quae natus culpa. Aperiam quas
                ratione minima hic nesciunt numquam nostrum cupiditate fugit
                laboriosam illo distinctio architecto alias aut, consequatur sed
                cumque voluptas? Accusamus error veritatis nam fugiat fugit adipisci
                voluptates? Pariatur, possimus! Beatae dolorem doloremque odio et
                voluptates impedit eveniet quidem perspiciatis temporibus. Laudantium
                nemo vero qui, perferendis alias asperiores voluptate aliquam
                cupiditate in atque quis, veritatis ipsum, vel quod eligendi iusto.
                Adipisci nostrum culpa, ad architecto inventore corrupti, dignissimos
                harum excepturi accusantium illo mollitia ullam, facilis voluptate
                ipsa! Natus, voluptate, dicta neque tempore obcaecati iste, iure fuga
                libero cupiditate recusandae sit? Enim ullam inventore dolor iure
                consequatur nulla quos amet dolores iusto optio, unde incidunt magnam
                eius aperiam, iste aliquam aut deserunt? In voluptatem corporis
                reiciendis culpa perferendis voluptatibus numquam exercitationem!
                Delectus obcaecati inventore deleniti laudantium iusto est debitis
                atque neque culpa? Velit dolorum nostrum at corporis ut magni itaque
                reprehenderit vel, perferendis ratione hic repellendus, autem cum
                deserunt? Nostrum, nisi.olestiae deserunt sed quia, asperiores illum.
              </p></div>
            <div style="color: white;" fxFlex="40">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, sequi
                quidem quaerat accusantium autem quia nostrum beatae inventore,
                officiis illum molestiae placeat odit excepturi ad sunt qui numquam
                nesciunt eius? Facere quibusdam numquam fugit aperiam officia? Tempora
                facere, ut corrupti ea laboriosam nihil commodi ex vel aliquam minus?
                Libero expedita tempore excepturi ex accusantium eos doloribus
                voluptatibus incidunt sapiente. Ex. Sed facere voluptatem optio fuga,
                quibusdam maiores nulla earum, harum accusantium atque animi inventore
                sunt pariatur consequatur aspernatur soluta quod repellat ipsam et
                dolorum impedit rerum. Molestiae qui aut dicta. Iste quidem reiciendis
                soluta dolorem iure recusandae cumque quia odio qui dolorum laudantium
                quod consequuntur repellendus numquam aut harum, laboriosam officiis
                molestias facere aliquid, quos temporibus. Quis sunt sequi qui?
                Consectetur iste quaerat, mollitia animi alias eveniet magni
                recusandae ut libero et, vitae odio. Harum temporibus ipsam quis eius
                veritatis dignissimos ducimus aliquam laborum libero placeat. Minima
                saepe corporis quas. Quidem, dolorem consequuntur odit ea id labore
                nam perferendis pariatur modi, alias corporis itaque aliquid explicabo
                eveniet quisquam placeat, ratione omnis dignissimos repellendus
                voluptatibus? Architecto velit incidunt in eum autem. Expedita dolor
                saepe quia ducimus, temporibus perferendis neque, dignissimos illo
                minima officia ipsam? Atque accusantium adipisci recusandae
                voluptatibus odit, voluptatum quis, ab dolorem praesentium et incidunt
                ducimus? Delectus, aliquid fugiat. Consequuntur ex nemo eaque labore
                saepe eligendi placeat ipsam quisquam optio officiis non voluptatibus
                accusamus, autem, voluptat
              </p>
            </div>
            </div>
           
        </mat-tab>
  </mat-tab-group>

