<section
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" fxFlex.sm="10" fxFlex.xs="10">
    <h1>About Us</h1>
  </div>
  <div fxFlex="50" fxFlex.sm="80" fxFlex.xs="80">
    <p>
      SAE INDIA Founded in 1994, is an affiliate society of SAE International,
      registered as an Indian non-profit engineering and scientific society
      dedicated to the advancement of mobility community in India. As an
      individual member driven society of mobility practitioners, SAE INDIA
      comprises members who are individuals from the mobility community, which
      includes engineers and executives. Principal emphasis is placed on
      transport industries such as automotive, aerospace, and commercial
      vehicles. SAE India holds a variety of competitions every year for
      engineering students across the country. SAE-AKGEC is student chapter of
      SAE INDIA formed by student of Akgec. Prime objective of SAE-AKGEC is to
      enhance skills of students in field automobiles and set new benchmarks in
      world of automobiles
    </p>
  </div>
</section>
