<section
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="5px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" fxFlex.sm="20" fxFlex.xs="20">
    <h2>SAE-AKGEC</h2>
    <p>Setting The Global Standard In Automotive World</p><br><br>
    <p>
      The Thing Motiviates Us Is A Very Common Form of Motivation And That Is
      With Other Folk Counting On Me, It's So Easy To Be Motivated
    </p><br>
    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-flat-button style="background-color: #D14949;">Register</button>
      <button mat-flat-button style="background-color: #D14949;">Subscribe To Newsletter!</button>
    </div></div>
  <div fxFlex="60" fxFlex.sm="25" fxFlex.xs="25" style="padding-bottom:10% ">
      <img src="../../../../assets/sae.png" style="width: 100%;" class="ab"/>
  </div>
</section>
