<section
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex>
    <mat-tab-group mat-align-tabs="center" style="color: white;">
      <mat-tab label="Innovacion">
        <div
        class="container" 
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0"
        >
          <div fxFlex="40" fxFlex.sm="60" fxFlex.xs="40" >
            <img src="../../../../assets/banner.jpg" width="100%">
          </div>
          <div fxFlex="40" fxFlex.sm="30" fxFlex.xs="30" >
            <p>
              SAEINDIA, the Indian chapter of the Society of Automotive
              Engineers has been organizing the event for its sixth consecutive
              year, which sees students from engineering colleges across the
              country battle it out against each other in their quest to apply
              their technical knowledge on the ground by conceptualizing and
              developing a formula racing car. SUPRA SAEINDIA comprise of a
              series of Static and Dynamic events spread over five days,
              concluding with a final Endurance run and a valedictory function.
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Aacar">
          <div
          class="container"
          fxLayout="row"
          fxLayout.sm="column"
          fxLayout.xs="column"
          fxLayoutAlign.gt-md="space-around center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0"
          >
            <div fxFlex="40" fxFlex.sm="30" fxFlex.xs="30" >
                <img src="../../../../assets/aacar.png" width="100%">
            </div>
            <div fxFlex="40" fxFlex.sm="30" fxFlex.xs="30" >
              <p>
                SAEINDIA, the Indian chapter of the Society of Automotive
                Engineers has been organizing the event for its sixth consecutive
                year, which sees students from engineering colleges across the
                country battle it out against each other in their quest to apply
                their technical knowledge on the ground by conceptualizing and
                developing a formula racing car. SUPRA SAEINDIA comprise of a
                series of Static and Dynamic events spread over five days,
                concluding with a final Endurance run and a valedictory function.
              </p>
            </div>
          </div>
        </mat-tab>
    </mat-tab-group>
  </div>
</section>
